#header {
	header{
		@extend %position-fixed;
		@extend %float-left;
		width: 100%;
		background: $black;
		padding: 10px 15px;
		top: 0;
		z-index: 100;
		nav{
			.logo-header{
				@extend %float-left;
				@extend %display-block;
				width: 40px;
				height: 40px;
				background: url('../images/logo-chat.png') no-repeat;
			}
			ul{
				@extend %float-right;
				list-style: none;
				li{
					@extend %float-left;
					color: $white;
					a{
						color: $white;
						cursor: pointer;
						&:hover{
							text-decoration: none;
							color: $green-normal;
						}
					}
				}
			}
		}
	}
}


.app{
	.sidebar-chat{
		height: 100%;
		padding: 10px;
		background: $white;
	}
	.conversation{
		border-left: 1px solid $gray-normal;
		height: 100%;
		padding-bottom: 100px;
		overflow: scroll;
		background: $gray-normal2;
		.header-chat{
			@extend %position-fixed;
			width: 100%;
			top: 50px;
			left: 0;
			background: $green-normal;
			color: $white;
			padding: 10px;
			z-index: 100;
		}
		.historico{
			min-height: 100%;
			padding: 10px 0 50px 0;
			.message-individual{
				width: 100%;
				padding: 0 0 2px 0;
				.bubble{
					@extend %position-relative;
					@extend %inline-block;
					@include border-radius(5px);
					padding: 6px 7px 8px 9px;
					background: $white;
					margin-left: 10px;
					&:after{
						content: '';
						position: absolute;
						bottom: 3px;
						left: -10px;
						width: 12px;
						height: 19px;
						background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAADGUExURQAAAP////b29vn5+f///wAAAP///wAAAAAAAP///9ra2v////j4+PHx8fv7++Hh4fHx8f////////////////39/QAAAP////////z8/P////39/f39/fz8/P////////////z8/P////////////z8/P////////////v7+/Hx8f///9bW1vz8/K2trf////39/f39/WJiYgAAAExMTFtbWwAAAN3d3cjIyPr6+vX19QAAAO7u7vz8/NTU1Ofn5zMzM////zGPlXsAAABBdFJOUwAcm/kREh4CCDWL1SneR6TfAQffhMYK/A5nRrLWfRc5DW2ih5f+19Kn+9v4g/1LCJuXHwQUKgahcXS6DNnlDMMKKzPoTgAAAKBJREFUKM+V08USwmAQA+C/0NIWd3d3d8/7vxTMcIPkQK7f7CG7s8bQAOY/SCuwFYQU1P+eiCqIK2gpWCmoCrAgoKQgJ8CHgIqAMjg0MxxSQ3DogEMWFBZtUPAHYGB1CyDQWE6AH7BrfXzlAxGAQhECTGAmwN1Okz0Gb/LW4fEItIfrOfNELMh3tck7u+PhcT2zQ7l77/K8iY8yJwV3BeYFqpc/uSyPGdAAAAAASUVORK5CYII=);
						background-position: 50% 50%;
						background-repeat: no-repeat;
						background-size: contain;
					}
					.user_name{
						width: 100%;
						@extend %display-block;
					}
				}
				&.currentUser{
					@extend %text-right;
					.bubble{
						background: $green-whats;
						@extend %text-right;
						margin-right: 10px;
						margin-left: 0;
						&:after{
							right: -10px;
							left: initial;
							background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAmCAMAAADp2asXAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAD2UExURQAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAGRsXAAAANzwzNPmxNrtyau5oIWRedDkwNntyczgwdfpyJ+/n97wzsLWtNjsytvwzczfvtPmxau6nNjqxtrtyio1KtzwzNjryAAAANzwzgAAANzwzK7Aor/Us9Lnw8vevAAAAMzevtbpxrvMrX+IdwAAAEROOi45Lr3MrZGjf9LoxX+MctnqydLkwhgYGMzfv9vuyQAAANzwzNvuy9zxy7vMu7XGqNvtzKKykwAAANruzKq6nLnMriQkGMXXuL3PsNjsySgzKAAAANLkw83fvd3vy9z4xtzwzRpFmIEAAABQdFJOUwAXChEGBAMBAgwhDvJ7k0YqMc0Zmwj6apf2kjU0+dkw/swh/CP9j2Wr2gndvaYeBRoxQg6gUPt/FaHJGdTj9A9k7XQLeE6iFcN12xkSt9r4NKizowAAAMFJREFUKM+V0sdywlAMBVDbMX7PQCihQ+iQ0HsJvfem/P/PwBIzugu0PXNnNNJVyPmhsIPhhoB2COwIGuLdhAcl3AhCBoBoHUC6BCBbA0C/EkBFB5D/FjxQwQYg1RI8UKINgDoSAPUlAPqUAMgfAEBfXsEDBV0+Hogi4Zhg4THj9YwHoqEBYOrgYTI3GVgMNn8r+Qq94k9yZNosW/3Hy9VuTjWfHkOX6367bGZUU7de66ieHZrO1OGg8Z1WTgYAFLgD5S1PCkzo1B0AAAAASUVORK5CYII=);
						}
					}
				}
			}
		}
		.form-chat{
			width: 100%;
			@extend %position-fixed;
			bottom: 0;
			left: 0;
			margin-bottom: 0;
			.inputMessage {
				@extend %position-relative;
				background: $green-normal;
				bottom: 0;
				width: 100%;
				padding: 15px;
				input{
					@include border-radius(8px);
					width: 100%;
					padding: 6px;
					border: 0;
				}
			}
		}
	}
}