<main>
    <sidebar-contacts class="sidebar-chat col-lg-3"></sidebar-contacts>
    <div class="conversation col-lg-9">
    	<div class="header-chat">
    		<span class="nameUserMessage">{{ctrl.userMessage.name}}</span>
    	</div>
        <div id="historico" class="historico"></div>
        <form ng-submit="ctrl.enviar(msg);" class="form-chat">
            <div class="inputMessage">
                <input type="text" id="msg" name="msg" class="msg{{ctrl.currentUser.user_name}}" ng-model="msg" placeholder="Digite uma mensagem...">
            </div>
        </form>
    </div>
</main>